// app global css in SCSS form

h1, h2, h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.q-menu {
  width: 95%;
}

// body.mobile:not(.native-mobile) .q-select__dialog {
//   height: 50vh;
// }

.q-select__dialog > .genre-list {
  max-height: 30vh;
}

// app global css in SCSS form

.q-page-container {
    background-color: $bgLightest;

    .index-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        .q-input {
            width: 90%;
            max-width: 90%;

            .searchbarIcons {
                cursor: pointer;
            }
        }
    }
}

.q-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: $bgDarkest;

    .q-toolbar__title {
        flex: none;
    }
}

// .menu__bigger {
//     width: 80%;
// }

.searchbar {
    width: 100%;
    .q-field__control {
        background-color: white;
    }
}



// .q-input {
//     background-color: white;

// }